nav {
	padding: 1rem;
	outline: 1px solid;
	max-width: 960px;
	margin: 0 auto;
}

header {
	height: 10rem;
	width: 100%;
	padding: 1rem;
	background-color: cornflowerblue;
}

main {
	max-width: 960px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	padding: 1rem;
	margin: 0 auto;
}
